/*********************************************TAG SALECTORS********************************************/


body {
  background-color: whitesmoke;
}



/********************************************CLASS SALECTORS******************************************/

.class {
  font-size: 30px;
  color: rgb(0, 187, 187);
}

.h1 {
  font-size: 60px;
  color: rgb(0, 187, 187);
}

.a:hover {
  color: chartreuse;
}

.motor-div {
  border-style: groove;
  border-color: black;
  border-width: 1px 1px;
  margin-top: 10px;
  padding: 5px 5px;
  margin-bottom: 10px;
  height: 50%;
  width: 70%;
}

.motor-vid-div {
  height: 30%;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 10px;
}

.vid {
  height: 25%;
  width: 35%;
  margin-right: 31%;
}

.left-motor-img {
  height: 650px;
  width: 650px;
  margin-right: 2px;
}

.right-motor-img {
  height: 650px;
  width: 650px;
  margin-left: 2px;
}

.all-divs {
   width: 500px;
   text-align: left;
   line-height: 2;
}

.eb {
  color: rgb(4, 0, 255);
}

.eb:hover {
  color: rgb(0, 162, 255);
}

.link {
  color: blue;
}

.b {
  text-align: center;
}

.strong {
  color: blue;
}

.hidden {
  color: whitesmoke;
  right: 5px;
}
